projekt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml" type="xmlType"/>
  <xs:complexType name="navbarType">
    <xs:sequence>
      <xs:element name="title" maxOccurs="unbounded" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Home"/>
            <xs:enumeration value="Ranking"/>
            <xs:enumeration value="O mnie"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="headerType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="navbarType" name="navbar"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="photoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="source" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="slideType">
    <xs:sequence>
      <xs:element type="photoType" name="photo"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="country" use="optional"/>
  </xs:complexType>
  <xs:complexType name="slidesType">
    <xs:sequence>
      <xs:element type="slideType" name="slide" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descriptionType">
    <xs:sequence>
      <xs:element type="xs:string" name="text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linkType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="source" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="linksType">
    <xs:sequence>
      <xs:element type="linkType" name="link" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="contactType">
    <xs:sequence>
      <xs:element type="xs:string" name="phone"/>
      <xs:element type="xs:string" name="mail"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tableType">
    <xs:sequence>
      <xs:element type="descriptionType" name="description"/>
      <xs:element type="linksType" name="links"/>
      <xs:element type="contactType" name="contact"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="textType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="informationType">
    <xs:sequence>
      <xs:element type="tableType" name="table"/>
      <xs:element type="textType" name="text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="xmlType">
    <xs:sequence>
      <xs:element type="headerType" name="header"/>
      <xs:element type="slidesType" name="slides"/>
      <xs:element type="informationType" name="information"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>